{{! template-lint-disable no-invalid-interactive --}}
<div
  ...attributes
  data-test-eh-hotspot={{@rect}}
  class="eh-hotspot {{if @pinned "eh-hotspot--pinned"}} {{if @src "eh-hotspot--image"}} {{if this.ehHotspots.showHotspots "eh-hotspot--highlight"}}"
  style={{this.style}}
  role={{if this.isInteractive (if @route "link" "button")}}
  {{on this.triggerEvent this.onTrigger}}
  {{on "mouseleave" this.onLeave}}
>
  {{yield}}
</div>